
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous" />
<!-- font awesome -->
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />


<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Poppins", sans-serif;
    }

    a {
        text-decoration: none;
    }

    .scroll-on {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: white;
        box-shadow: 0 0.125rem 1.75rem 0 rgba(0, 0, 0, 0.1);
        transition: all 0.15s ease-in-out 0s;
        z-index: 999;
    }

    .home_section .container-fluid {
        border-bottom: 2px solid #165a4a;
    }

    .home_section .navbar .nav-item {
        text-transform: uppercase;
        padding: 10px;
        align-items: center;
    }

        .home_section .navbar .nav-item .nav-link {
            position: relative;
        }

            .home_section .navbar .nav-item .nav-link::after {
                content: "";
                opacity: 0;
                transition: all 0.4s;
                height: 2px;
                width: 0;
                background-color: #165a4a;
                position: absolute;
                bottom: 0;
                left: 0;
            }

            .home_section .navbar .nav-item .nav-link:hover::after {
                opacity: 1;
                width: 100%;
            }

            .home_section .navbar .nav-item .nav-link:hover {
                color: #165a4a;
            }

    .home_section .navbar .btn {
        width: -moz-max-content;
        width: max-content;
        margin: 20px;
        border-radius: 5px;
        border: 2px solid #165a4a;
        background-color: #165a4a;
        color: #eaf1f0;
        text-transform: uppercase;
    }

        .home_section .navbar .btn:hover {
            border: 2px solid #165a4a;
            color: #165a4a;
            background-color: white;
        }

    .carousel {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: relative;
    }

        .carousel .list .item {
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0 0 0 0;
        }

            .carousel .list .item img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }

            .carousel .list .item .content {
                position: absolute;
                top: 20%;
                max-width: 80%;
                left: 12%;
                transform: translateX(-10%);
                box-sizing: border-box;
                color: #eaf1f0;
                text-shadow: 0 10px 10px rgba(0, 0, 0, 0.2666666667);
            }

                .carousel .list .item .content .display-4 {
                    margin: 15px auto;
                }

                .carousel .list .item .content .get-estimate-btn {
                    border: 2px solid #165a4a;
                    background-color: #165a4a;
                    color: white;
                    padding: 10px;
                    font-weight: 500;
                    font-size: 18px;
                    cursor: pointer;
                    letter-spacing: 1px;
                    transition: 0.4s;
                    margin: 15px auto;
                    border-radius: 5px;
                    text-transform: uppercase;
                }

                    .carousel .list .item .content .get-estimate-btn:hover {
                        background-color: transparent;
                        -webkit-backdrop-filter: blur(2px);
                        backdrop-filter: blur(2px);
                        letter-spacing: 2px;
                    }

    .thumbnail {
        display: flex;
        gap: 20px;
        position: absolute;
        bottom: 20px;
        left: 30%;
        max-width: -moz-max-content;
        max-width: max-content;
        z-index: 100;
    }

        .thumbnail .item {
            width: 150px;
            height: 220px;
            flex-shrink: 0;
            position: relative;
        }

            .thumbnail .item img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 20px;
                box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
            }

    .nextPrevArrows {
        position: absolute;
        top: 80%;
        right: 60%;
        z-index: 100;
        width: 300px;
        max-width: 30%;
        display: flex;
        gap: 10px;
        align-items: center;
    }

        .nextPrevArrows button {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #165a4a;
            border: solid #165a4a;
            color: #fff;
            font-family: monospace;
            font-weight: bold;
            cursor: pointer;
            transition: 0.5s;
        }

            .nextPrevArrows button:hover {
                background-color: transparent;
                border: solid #165a4a;
            }

    .carousel .list .item:nth-child(1) {
        z-index: 1;
    }

        .carousel .list .item:nth-child(1) .content {
            transform: translateY(50px);
            filter: blur(20px);
            opacity: 0;
            animation: showContent 0.5s 1s linear 1 forwards;
        }

    @@keyframes showContent {
        to {
            opacity: 1;
            filter: blur(0);
            transform: translateY(0px);
        }
    }

    .carousel .list .item:nth-child(1) .display-4 {
        animation-delay: 0.8s;
    }

    .carousel .list .item:nth-child(1) .fs-4 {
        animation-delay: 1s;
    }

    .carousel .list .item:nth-child(1),
    .get-estimate-btn {
        animation-delay: 1.5s;
    }

    .carousel.next .list .item:nth-child(1) img {
        width: 150px;
        height: 220px;
        position: absolute;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
        animation: showImage 0.5s linear 1 forwards;
    }

    @@keyframes showImage {
        to {
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            border-radius: 0;
        }
    }

    .carousel.next .thumbnail .item:nth-child(1) {
        width: 0;
        overflow: hidden;
        animation: showThumbnail 0.5s linear forwards;
    }

    @@keyframes showThumbnail {
        to {
            width: 150px;
        }
    }

    .carousel.next .thumbnail {
        transform: translateX(150px);
        animation: transformThumbnail 0.5s linear 1 forwards;
    }

    @@keyframes transformThumbnail {
        to {
            transform: translateX(0);
        }
    }

    .carousel.prev .list .item:nth-child(2) {
        z-index: 2;
    }

        .carousel.prev .list .item:nth-child(2) img {
            position: absolute;
            bottom: 0;
            left: 0;
            animation: outImage 0.5s linear 1 forwards;
        }

    @@keyframes outImage {
        to {
            width: 150px;
            height: 220px;
            border-radius: 20px;
            left: 30%;
            bottom: 20px;
        }
    }

    .carousel.prev .thumbnail .item:nth-child(1) {
        width: 0;
        overflow: hidden;
        opacity: 0;
        animation: showThumbnail 0.5s linear 1 forwards;
    }

    .carousel.prev .list .item:nth-child(2) .content {
        animation: contentOut 0.5s 1s linear 1 forwards;
    }

    @@keyframes contentOut {
        to {
            transform: translateY(-150px);
            filter: blur(20px);
            opacity: 0;
        }
    }

    .carousel.next .nextPrevArrows button,
    .carousel.prev .nextPrevArrows button {
        pointer-events: none;
    }

    .time {
        width: 0%;
        height: 5px;
        background-color: #165a4a;
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
    }

    .carousel.next .time,
    .carousel.prev .time {
        width: 100%;
        animation: timeRunning 2s linear 1 forwards;
    }

    @@keyframes timeRunning {
        to {
            width: 0;
        }
    }

    .process_section {
        background-image: url("/images/process/process-bg.jpg");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

        .process_section .container-fluid {
            background-color: rgba(255, 255, 255, 0.5098039216);
        }

        .process_section .process-heading {
            border-bottom: 1px solid rgba(0, 0, 0, 0.6039215686);
        }

    .about .about-left ol {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 10px;
        padding-inline-start: 20px;
    }

        .about .about-left ol li {
            font-size: 18px;
            line-height: 28px;
            position: relative;
            list-style-type: none;
        }

            .about .about-left ol li::before {
                content: "";
                width: 6px;
                height: 6px;
                background-color: #fff;
                border-radius: 100px;
                position: absolute;
                top: 11px;
                left: -20px;
                border: 1px solid #165a4a;
            }

    .about .about-left .btn-style {
        background-color: #165a4a;
        border: 2px solid #165a4a;
        font-size: 18px;
    }

        .about .about-left .btn-style:hover {
            background: transparent;
            border: 2px solid #165a4a;
            color: #165a4a;
        }

    .about .images-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: baseline;
        grid-gap: 20px;
    }

        .about .images-grid img {
            border-radius: 10px;
        }

            .about .images-grid img:hover {
                transition: 0.5s all ease-in-out;
                transform: translateY(-7px);
            }

    .homeblock {
        background-image: url("/images/homeblock-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100%;
    }

        .homeblock .container-fluid {
            background-color: rgba(255, 255, 255, 0.5529411765);
        }

        .homeblock h1 {
            text-shadow: 0 10px 10px rgba(0, 0, 0, 0.486);
        }

        .homeblock .btn-style {
            background-color: #165a4a;
            border: 2px solid #165a4a;
            font-size: 18px;
            color: #eaf1f0;
        }

            .homeblock .btn-style:hover {
                background: transparent;
                border: 2px solid #165a4a;
                color: #165a4a;
            }

        .homeblock .contact-btn {
            background: transparent;
            border: 2px solid #165a4a;
            color: #165a4a;
            font-size: 18px;
        }

            .homeblock .contact-btn:hover {
                background-color: #165a4a;
                color: #eaf1f0;
            }

    .newsletter .subscribe-wthree .subscribe-wthree-field .form-control {
        font-size: 16px;
        width: 50% !important;
    }

        .newsletter .subscribe-wthree .subscribe-wthree-field .form-control:focus {
            box-shadow: none;
            border: 2px solid #165a4a;
        }

    .newsletter .subscribe-wthree .subscribe-wthree-field .btn-style {
        background-color: #165a4a;
        border: 2px solid #165a4a;
        font-size: 18px;
        color: #eaf1f0;
    }

        .newsletter .subscribe-wthree .subscribe-wthree-field .btn-style:hover {
            background: transparent;
            border: 2px solid #165a4a;
            color: #165a4a;
        }

    .footer {
        background-color: #165a4a;
    }

        .footer .footer-copyright {
            border-top: 2px solid #eaf1f0;
        }

        .footer .column-1 ul li a {
            color: #eaf1f0;
        }

        .footer .footer-col ul li a {
            color: #eaf1f0;
            position: relative;
            padding-bottom: 3px;
        }

            .footer .footer-col ul li a::after {
                content: "";
                opacity: 0;
                transition: all 0.6s;
                text-underline-offset: 5px;
                height: 2px;
                width: 0;
                background-color: #eaf1f0;
                position: absolute;
                bottom: 0;
                left: 0;
            }

            .footer .footer-col ul li a:hover::after {
                opacity: 1;
                width: 100%;
            }

            .footer .footer-col ul li a:hover {
                color: #eaf1f0;
            }

    .testimonial_section {
        margin-top: 80px;
    }

        .testimonial_section .testimonial-left {
            position: relative;
        }

            .testimonial_section .testimonial-left .testimonial-image {
                --color: #165a4a;
                /* the border color */
                --border: 5px;
                /* the border thickness*/
                --offset: 10px;
                /* control the offset*/
                --gap: 5px;
                /* the gap on hover */
                --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)), var(--color) 0;
                --_o: calc(3*var(--offset));
                padding: calc(var(--gap) + var(--border)) calc(var(--gap) + var(--border) + var(--offset)) calc(var(--gap) + var(--border) + var(--offset)) calc(var(--gap) + var(--border));
                background: linear-gradient(var(--_c)) var(--_o) var(--_o), linear-gradient(90deg, var(--_c)) var(--_o) var(--_o);
                background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
                background-repeat: no-repeat;
                filter: grayscale(0.4);
                transition: 0.5s;
                cursor: pointer;
            }

                .testimonial_section .testimonial-left .testimonial-image:hover {
                    background-position: 0px 0px;
                    background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
                    filter: grayscale(0);
                }

        .testimonial_section .carousel {
            height: auto !important;
        }

            .testimonial_section .carousel .testimonial-card {
                padding-top: 1rem;
            }

                .testimonial_section .carousel .testimonial-card .ratings {
                    margin-bottom: 1rem;
                }

                .testimonial_section .carousel .testimonial-card .testimonial-card-text {
                    line-height: 1.8rem;
                    font-size: 18px;
                }

                .testimonial_section .carousel .testimonial-card .testimonial-card-name {
                    font-size: 1rem;
                    font-weight: 500;
                }

            .testimonial_section .carousel .testimonial-btn {
                border: none;
                font-size: 2rem;
                background-color: transparent;
                color: #165a4a;
            }
    /*# sourceMappingURL=style.css.map */
</style>


<style>
    .block-1 {
        background-image: url(/images/about-bg.jpg);
        background-size: contain;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

        .block-1 .container-fluid {
            background-color: rgba(22, 45, 40, 0.6);
        }

        .block-1 .breadcrumb {
            color: #fff !important;
        }

            .block-1 .breadcrumb .breadcrumb-item {
                font-size: 20px;
            }

                .block-1 .breadcrumb .breadcrumb-item::before {
                    color: #eaf1f0 !important;
                }

                .block-1 .breadcrumb .breadcrumb-item a {
                    color: rgba(255, 255, 255, 0.7176470588);
                }

                    .block-1 .breadcrumb .breadcrumb-item a:hover {
                        text-decoration: underline;
                    }

            .block-1 .breadcrumb .active {
                color: #fff;
                text-decoration: none;
            }

    @@media screen and (max-width: 769.5px) {
        .block-1 {
            background-size: cover;
            background-position: center;
        }
    }

    .block-2 .title-small {
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 2em;
        letter-spacing: 1px;
        color: #7e7d7d;
    }

    .block-2 .title-big {
        font-size: 45px;
        font-weight: 600;
        line-height: 50px;
    }

    .block-2 .about-img {
        border-radius: 10px;
    }

    .block-2 .fa {
        font-size: 5em;
        color: rgba(22, 90, 74, 0.2745098039);
    }

        .block-2 .fa::before {
            content: "\f10d";
        }

    .block-2 .abt-right {
        color: #165a4a;
    }

    .count {
        background-color: rgba(130, 185, 174, 0.5803921569);
    }

        .count .count-info {
            border-left: 1px solid rgba(22, 90, 74, 0.3607843137);
        }

            .count .count-info:last-child {
                border-right: 1px solid rgba(22, 90, 74, 0.3607843137);
            }
    /*# sourceMappingURL=about.css.map */
</style>

<div data-bs-spy="scroll" data-bs-target="#spy-section">
    <!-- Navbar Section -->
    <!-- About Block-1  -->
    <section class="block-1">
        <div class="container-fluid py-5">
            <div class="row text-center my-5">
                <h1 class="display-5 text-white m-0">About Us</h1>
                <nav class="d-flex justify-content-center align-items-center" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <!-- About Block-2  -->
    <section class="block-2" id="about">
        <div class="container py-lg-5 py-md-4">
            <div class="row">
                <div class="col-lg-4 mb-lg-0 mb-5">
                    <h3 class="title-small mb-2">An enchanting dream home.</h3>
                    <h3 class="title-big text-capitalize">
                        We Have 10+ Years Of Experience.
                    </h3>
                    <p class="pt-4">
                        Aliquam ac est vel nisl condimentum interduauris et justo vel nibh
                        rhoncusm vel eget enim. Curabiturn mattis orci sed leo mattis, nec
                        maximus nibh faucibus.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <img src="~/images/about/about.jpg"
                         alt="image"
                         class="img-fluid about-img" />
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    <p class="py-4 pl-3 d-inline fst-italic about-right-text">
                        Aliquam ac est vel nisl condimentum interdum vel eget enim.
                        Curabitur mattis orci sed leo mattis, nec maximus nibh faucibus.
                        Mauris et justo vel nibh rhoncus venenatis. Nullal dolor init
                        condimentum interdum vel eget enim. Curabitur mattis orci sed le.
                        Lorem dolor sit amet
                    </p>
                    <h5 class="abt-right pt-3 fs-4">Home Interior</h5>
                    <hr />
                    <h4 class="abt-right-text fs-6 fst-italic fw-light">
                        The best interior solution.
                    </h4>
                </div>
            </div>
        </div>
    </section>

    <!-- Count Section  -->
    <section class="count">
        <div class="container py-5">
            <div class="row text-center">
                <div class="col-3 count-info">
                    <h1>12</h1>
                    <p class="fs-2">Years of Experience</p>
                </div>
                <div class="col-3 count-info">
                    <h1>85</h1>
                    <p class="fs-2">Successful Projects</p>
                </div>
                <div class="col-3 count-info">
                    <h1>14</h1>
                    <p class="fs-2">Active <br />Projects</p>
                </div>
                <div class="col-3 count-info">
                    <h1>96</h1>
                    <p class="fs-2">Happy Customers</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonial Section -->
    <section class="testimonial_section py-3" id="reviews">
        <div class="container">
            <div class="row text-center">
                <h4 class="fw-light">TESTIMONIALS</h4>
                <h1>What our Clients say</h1>
            </div>
            <div class="row my-4">
                <div class="col-md-6 testimonial-left text-center">
                    <img src="~/images/testimonial/testimonial-featured.png"
                         alt="image"
                         class="img-fluid testimonial-image mb-4 mb-md-0" />
                </div>
                <div class="col-md-6 my-auto">
                    <div id="carouselExampleIndicators"
                         class="carousel slide"
                         data-bs-ride="true">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="testimonial-card">
                                    <div class="ratings">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star"></i>
                                    </div>
                                    <p class="testimonial-card-text">
                                        RenoMate matched me to a great contractor who was able to
                                        renovate my kitchen while I lived at home during the
                                        pandemic.
                                    </p>
                                    <div class="testimonial-card-name">
                                        <p>— Linda R.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="testimonial-card">
                                    <div class="ratings">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi bi-star-half"></i>
                                        <i class="bi bi-star"></i>
                                    </div>
                                    <p class="testimonial-card-text">
                                        We have worked with many contractors over the last 20
                                        years and RenoMate by far is the best. The quality of the
                                        work was outstanding.
                                    </p>
                                    <div class="testimonial-card-name">
                                        <p>— Veronica S.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="testimonial-card">
                                    <div class="ratings">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </div>
                                    <p class="testimonial-card-text">
                                        The company is very customer service oriented and the
                                        communication was excellent! There were people working
                                        every day.
                                    </p>
                                    <div class="testimonial-card-name">
                                        <p>— Adams T.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="testimonial-btn"
                                type="button"
                                data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="prev">
                            <i class="fa-solid fa-arrow-left-long"></i>
                        </button>
                        <button class="testimonial-btn"
                                type="button"
                                data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="next">
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="app.js"></script>
    <script src="nav.js"></script>
</div>