.breadcrumb-block {
  background-color: #165a4a;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.breadcrumb-block .container-fluid {
  background-color: rgba(22, 45, 40, 0.3490196078);
}
.breadcrumb-block .breadcrumb {
  color: #fff !important;
}
.breadcrumb-block .breadcrumb .breadcrumb-item {
  font-size: 20px;
}
.breadcrumb-block .breadcrumb .breadcrumb-item::before {
  color: #eaf1f0 !important;
}
.breadcrumb-block .breadcrumb .breadcrumb-item a {
  color: rgba(255, 255, 255, 0.7176470588);
}
.breadcrumb-block .breadcrumb .breadcrumb-item a:hover {
  text-decoration: underline;
}
.breadcrumb-block .breadcrumb .active {
  color: #fff;
  text-decoration: none;
}
.breadcrumb-block form .search-box {
  background: #fff;
  margin-top: 20px;
  position: relative;
  align-items: center;
  border-radius: 30px;
  width: -moz-max-content;
  width: max-content;
}
.breadcrumb-block form .search-box input {
  font-size: 18px;
  border-radius: 30px;
  border: none;
  background: transparent;
}
.breadcrumb-block form .search-box input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.breadcrumb-block form .search-box .fa-magnifying-glass {
  color: rgb(89, 85, 85);
}

@media screen and (max-width: 769.5px) {
  .breadcrumb-block {
    background-size: cover;
    background-position: center;
  }
}
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .images {
  gap: 15px;
  max-width: 95%;
  margin-top: 40px;
  -moz-columns: 5 340px;
       columns: 5 340px;
}
.gallery .images .card {
  display: flex;
  position: relative;
  list-style: none;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  overflow: hidden;
}
.gallery .images .card:hover .details {
  bottom: 0;
}
.gallery .images .card .details {
  position: absolute;
  bottom: -100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  transition: bottom 0.1s ease;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.87), transparent);
}
.gallery .images .card .details .photographer {
  color: #fff;
  display: flex;
  align-items: center;
}
.gallery .images .card .details .photographer i {
  font-size: 1.4rem;
  margin-right: 10px;
}
.gallery .images .card .details button {
  cursor: pointer;
  padding: 3px 8px;
  font-size: 1.1rem;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
}
.gallery img {
  width: 100%;
}

.btn-style {
  background-color: #165a4a;
  border: 2px solid #165a4a;
  font-size: 18px;
}
.btn-style:hover {
  background: transparent;
  border: 2px solid #165a4a;
  color: #165a4a;
}
.btn-style .btn-style.disabled {
  opacity: 0.6;
  pointer-events: none;
  background-color: #165a4a;
}

.lightbox.show {
  display: block;
}

.lightbox {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.65);
}
.lightbox .wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}
.lightbox .wrapper header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lightbox .wrapper header .photographer i {
  font-size: 1.7rem;
}
.lightbox .wrapper header .photographer span {
  font-size: 1.2rem;
}
.lightbox .wrapper header .buttons i {
  width: 40px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  background: #165a4a;
  font-size: 1.2rem;
  display: inline-block;
  border-radius: 5px;
}
.lightbox .wrapper header .buttons i:last-child {
  margin-left: 10px;
  background: rgba(90, 88, 88, 0.806);
}
.lightbox .wrapper .preview-img {
  display: flex;
  margin-top: 25px;
  justify-content: center;
}
.lightbox .wrapper .preview-img .img {
  max-height: 65vh;
  max-width: 90vh;
  display: flex;
  justify-content: center;
}
.lightbox .wrapper .preview-img img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=gallery.css.map */